<%= form_for [@article, Comment.new] do |f| %>
  <div class="form-inline">
    <%= f.text_field :content, placeholder: "Comment...", class: 'form-control', required: true, size: "30x10" %>
    <%= f.submit "Comment", class: "btn btn-primary" %>
  </div>
<% end %>
