<h4 class="card-title"><%= article.title %></h4>
  <div class="card">
    <div class="card-block">
        <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
      </div>
      <div class="card-footer">
        <%= link_to 'Show', article_path(article), class: 'btn btn-primary' %>
      </div>
    </div>
<br />
